/* @font-face{
 font-family: KertaseLight;
 src: url('./fonts/KertaseLight.otf');
}
@font-face{
 font-family: KertaseBold;
 src: url('./fonts/KertaseBold.otf');
}

@font-face{
 font-family: MyriadProRegular;
 src: url('./fonts/MyriadProRegular.otf');
} */
@font-face{
 font-family: MyriadHebrew;
 src: url('./fonts/MyriadHebrew.ttf');
}
@font-face{
 font-family: NeueHaasDisplayThin;
 src: url('./fonts/NeueHaasDisplayThin.ttf');
}
@font-face{
 font-family: NeueHaasDisplayLight;
 src: url('./fonts/NeueHaasDisplayLight.ttf');
}
@font-face{
 font-family: GaramondPremierProMediumCaption;
 src: url('./fonts/GaramondPremierProMediumCaption.otf');
}
@font-face{
 font-family: NovelProExtraLight;
 src: url('./fonts/NovelProExtraLight.otf');
}


*{
 margin:0;
 padding:0;
 box-sizing: border-box;
 font-family:"MyriadHebrew";
 font-family:"NeueHaasDisplayThin";
 /* color:transparent; */
 /* color:red; */
 font-size:11px;
 letter-spacing: 0.5px;
}
@media print{
  .no-print{
    display: none !important;
    height:0;
    width:0;
  }
}
.sake-content *,
#sake-modal *
{
  font-family: NovelProExtraLight;
  font-weight: 100;
  letter-spacing: -0.3 !important;
  /* color:blue; */
}
.modal{
 width:100%;
 height:100vh;
 background:#F3EEE7;
 display:none;
 place-content: center;
 position: fixed;
 inset:0;
 text-align: left;
 z-index: 100;
 overflow: hidden ;
 padding: 5px;
}
.modal-content{
  display:flex;
  gap:10px;
}
@media(orientation:portrait){
  .modal-content{
    flex-direction: column;
    align-items: center;
  }
  .modal img{
    max-width:95vw;
    max-height:50vh;
  }
}
@media(orientation:landscape){
  .modal-content{
    flex-direction: row;
    align-items: center;
  }
  .modal img{
    max-width:50vw;
    max-height:95vh;
  }
}
.close-button{
 font-size: 50px;
 position: absolute;
 right:10px;
 top:10px;
 cursor: pointer;
}
/* .modal img{
 max-width:100%;
 max-height: 50vh;
} */
nav{
   width:100%;
   text-align:center;
   font-size:17px;
}
nav a{
  font-size: inherit;
  /* font-size: 13px; */
  padding:0 5px;
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.webpage{
 position: relative;
}
.name{
 font-family:"MyriadHebrew";
 /* font-family:"MyriadProRegular"; */
 font-weight: 900;
}
body,.webpage{
 background:lightgrey;
 /* border:1px solid red; */
}
.webpage{
 width:100vw;
 min-height: 100vh;
 /* padding-bottom: 25px; */
}
.letter-paper,
.small-paper{
 width:8.5in;
 height:11in;
 background:beige;
 z-index: 1;
 margin: 0px auto;
 padding-top:30px;
 /* padding-left:142px; */
 padding-bottom: 50px;
 display:flex;
 flex-direction: column;
 position: relative;
 line-height: 15.653px;
}
.sake-page{
  padding-top:0px;
}
.small-paper{
  height:8.5in;
  width:5in;
}
/* .letter-paper::after{
 transform: rotate(-2deg);
 position: absolute;
 content:'';
 top:0;
 left:0;
 width:100%;
 height:100%;
 z-index: -1;
 background-image:url("/scan-dinner-3.jpg");
 background-size:8.5in;
} */
.section,.legal{
 display:flex;
 width:5.25in;
 margin:0 auto;
}
.section{
 margin-bottom:30px
}
.mains .section{
  margin-bottom:20px;
}
.legal{
 display: block;
 margin-top: auto;
}
.legal div{
 font-size: 8px;
 line-height:15px;
}
.right-column{
 width:3.5in;
}
.left-column{
 font-size: 14px;
 width:1.75in;
 line-height: 25px;
}
.name-price,.upgrade{
 display: flex;
 justify-content: space-between;
}
.price{
 font-size: 13px;
}
.upgrade-price{
 font-style: italic;
 font-size: 13px;
}
.upgrade-description{
 font-style: italic;
}
.dinner-menu-item{
 margin-bottom:20px;
 cursor:pointer !important;
}
.nigiri{
 margin-bottom:0;
}
.nigiri .name{
  font-weight: 100 !important;
}
.sushi-rolls .dinner-menu-item{
  margin-bottom:17px;
}
.allergies{
 margin-left:5px;
 font-size: 7px;
 font-family: NeueHaasDisplayLight;
 /* font-family: KertaseBold; */
}
.section-dessert{
  flex-direction: column;
  gap:20px;
  width:3.25in;
}
.section-dessert .left-column{
  width:100%;
}
.legal-dessert{
  width:3.25in;
  font-size: 8px;
}
.name2{
  font-family: MyriadHebrew;
  font-weight: 900;
}
@media(max-width:8.5in){
 .letter-paper{
   width:100vw;
 }
}
@media(max-width:5in){
  .small-paper{
    width:100vw;
  }
  .small-paper .left-column,
  .small-paper .right-column,
  .legal-dessert{
    width:85vw !important;
    /* background:'pink' */
  }
}
@media(max-width:540px){
 .section{
   flex-direction: column;
   align-items: center;
   gap:20px;
   width:100%;
 }
 .left-column,.right-column{
   width:85vw;
 }
 .letter-paper{
   min-height:11in;
   height:auto;
   /* width:100vw; */
 }
 .legal{
   width:90%;
 }
}
input[type="text"],
textarea{
  /* background-color:red; */
  /* color:blue; */
  padding: 5px;
  font-size:20px;
}
h1{
  width:100%;
  text-align: center;
  font-size: 20px;
  /* color:pink; */
}
.sake-content{
  width:6in;
  /* border:1px solid red; */
  /* color:red; */
  font-family: serif;
  margin:40px auto 0;
  /* margin-left:180px; */
}
.sake-content h2,
#sake-modal h2{
  text-align: center;
  font-size:17px;
  /* color:red; */
  font-weight: 100;
  margin-bottom: 26px;
}
.sake-section h3,
#sake-modal h3{
  text-align: center;
  /* width:100%; */
  font-size:15px;
  font-weight: 100;
  margin-bottom: 15px;
}
.sake-producer-name{
  font-size:13px;
  font-weight: 900;
  letter-spacing: 0.1px;
  margin-bottom: 4px;
}
.bin-left{
  letter-spacing: 0.4px;
  font-size: 11.5px;
  width:54px;
  display: inline-block
}
.sake-description{
  letter-spacing: 0.3px;
  display: inline-block;
  font-size: 11.5px;
  width:409px;
}
.sake-size{
  display: inline-block;
  width:auto;
}
.sake-price{
  width:auto;
  font-size:12px;
  letter-spacing: 0.1px;
}
.sake-producer{
  margin-bottom: 17.5px;
}
.sake-page footer{
  /* color:red; */
  font-family: serif;
  text-align: center;
  font-size: 16px;
  letter-spacing: -1px;
  width:100%;
  margin-top: auto;
}
.sake-page{
  display: flex;
  flex-direction: column;
}
.sake{
  display:flex;
  cursor:pointer;
}
.sake-flexbox-left{
  display:flex;
}
.sake-flexbox-right{
  width:100%;
  display:flex;
  justify-content: space-between;
}
.bin-mobile{
  display:none;
}
@media(max-width:8.5in){
  .sake-page{
    width:95%;
  }
}
@media(max-width:6.75in){
  .bin-left{
    display:none;
  }
  .bin-mobile{
    display:block;
  }
  .sake{
    flex-direction: column;
    width:409px;
  }
  .sake-page{
    height:auto;
  }
  .sake,
  .sake-producer,
  .sake-section,
  .sake-content,
  .sake-producer-name,
  .sake-description{
    width:75vw;
    margin-left:auto;
    margin-right:auto;
  }
  .sake{
    margin-bottom:6px;
  }
}
@media(max-width:5.5in){
  .sake,
  .sake-producer,
  .sake-section,
  .sake-content,
  .sake-producer-name,
  .sake-description{
    width:85vw;
    /* background:pink; */
    margin-left:auto;
    margin-right:auto;
  }
}
#sake-modal{
  position:fixed;
  inset:0;
  width:100%;
  height:100vh;
  background:#f3eee7;
  z-index: 100;
  display: none;
  place-content: center;
}
.sake-webpage{
  position:relative;
  font-family:GaramondPremierProMediumCaption !important;
}
#sake-modal-image{
  max-width:95%;
  max-height:55vh;
  margin:0 auto;
  display: inline-block;
  border-radius: 10px;
}
.typo{
  color:red !important;
  font-size:inherit;
}
.current-page{
  text-decoration: underline;
  cursor:default;
  text-underline-offset: 5px;
}
.menu-manager{
  color:red;
}
form{
  border:1px solid black;
  border-radius: 10px;
  padding:10px;
  width:400px !important;
  background:lightgreen;
  margin:0 auto 100px;
  padding-bottom: 50px;
}
form h1{
  font-size:30px;
  font-weight: 900;
  margin-top:20px;
}
form label{
  font-size:20px;
}
form button{
  background:#666;
  color:white;
  cursor:pointer;
  font-size:20px;
  margin:0 auto;
  display: inline-block;
  padding:10px 30px;
  border-radius: 10px;
  border:none;
  box-shadow:0px 10px 10px grey;
}
form button:hover{
  font-weight:900;
}
input[type='text']{
  font-size:20px;
}
.required{
  color:red;
  font-size:10px;
  font-weight: 900;
}
.delete-button{
  background:red;
  color:white;
}
.edit-button{
  background:blue;
  color:white;
}
.arrow-button{
  background:grey;
  color:white;
}
.item-button{
  padding:3px 7px;
  border-radius: 5px;
  margin-top: 1px;
  margin-right:15px;
  font-weight:900;
  display: inline-block; 
  cursor:pointer !important; 
}
.visibility-hidden{
  visibility:hidden;
}
.sake-abv{
  width:5ch;
  display:none;
  /* display:none; */
}
.tasting-left{
  /* background:pink; */
  flex-shrink: 0;
  width:100px;
}
.tasting-menu-flexbox{
  margin-top: 50px !important;
}
@media (max-width:550px){
  .tasting-menu-flexbox{
    padding:0 5px;
  }
}